
/* MediaQueries */
/* Increase sized container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top on medium and larger */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

html {
    height: 100%;
}

body {
    background: url('/media/colorarity-header2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lora', serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
}

.logo-font {
    text-transform: uppercase;
}

/* slim down text */
.main-logo-link {
    width: fit-content;
}


/* matching button design across page */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* similar to a bootstrap helper to maintain borders to be black */
.border-black {
    border: 1px solid black !important;
}

/* similar to a bootstrap helper to maintain text to be black */
.text-black {
    color: #000 !important;
}

.bg-black{
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* header text shadow */
h1.display-4.logo-font {
    text-shadow: 2px 2px #000000;
}

